<style>
header{text-aling:center}
		.Titulo_principal{color: red;}
		.Subtitulo{color: green;} 
		.texto{color: blue;} 
		.pink:hover{color: pink;}

  	span p:first-child {color: red;}
  	span p:last-child {color: blue;}
    span p:nth-child(4) {color: pink;}
	span p:nth-child(5) {color: pink;}

</style>   