<style>
header{text-aling:center}
		.Titulo_principal{color: red;}
		.Subtitulo{color: green;} 
		.texto{color: blue;} 
		.pink:hover{color: pink;}
		#box{width: 800px;
			background: cyan;}
		.inline, .block{
			color:white;
			margin: 10px;
			padding: 10px;
			background: purple;
			border: 3px solid green;		
		}
		.block{
			background: red;
		}
		
  	span p:first-child {color: red;}
  	span p:last-child {color: blue;}
    span p:nth-child(4) {color: pink;}
	span p:nth-child(5) {color: pink;}
</style>   