<style>
.contenedor {
	background-color: #0C3F7A;
		/*Display flex altera las dimensiones y llenar espacio disponible, en este caso las alinea*/
	display: flex;
		/*wrap permite los elementos "hijos" son obligados a permanecer en una misma línea o pueden fluir en varias líneas.*/
	flex-wrap:wrap;
		/*flex-wrap:wrap; Los elementos flex son distribuidos en una sola línea, lo cual puede llevar a que se desborde el contenedor flex*/ 
}

.contenedor > div {
  background-color: #cFF;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px; 
}
</style>