<style>
.contenedor {
  background-color: #0C3F7A;
    /*hay un desbordamiento del contenedor flex con pantallas pequeñas*/
  display: flex;
    /*flexdirection especifica cómo colocar los objetos flexibles en el contenedor flexible definiendo el eje principal y la dirección*/
    /*row representa el eje horizontal orientado de izquierda a derecha*/
  flex-direction: row;
    /*row representa el eje horizontal orientado de derecha a izquierda*/
  flex-direction: row-reverse;
    /*column representa el eje vertical orientado de arriba hacia abajo*/
  flex-direction: column;
    /*Column-reverse representa el eje vertical orientado abajo hacia arriba*/
  flex-direction:column-reverse;    
    
}

.contenedor > div {
  background-color: #FFF;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
</style>