<style>
.contenedor {
	background-color: #0C3F7A;
    display: flex;
    /*flex-flow: row nowrap; Esta propiedad junta las anteriores: wrap y direction */
    
	/*flex-flow: row-reverse wrap-reverse; se alinea hacia la derecha a izquierda y el ordenamiento se da del último al primero*/
    
    /*flex-flow: column-reverse wrap-reverse; se usa da un ordenamiento en columna del último al final, y ordenado hacia la izquierda */

     /*flex-flow: row wrap; se da un ordenamiento en fila del primero al último, y ordenado hacia la derecha */
    flex-flow: row wrap;

}

.contenedor > div {
  background-color: #FFF;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
</style>