<style>
.contenedor {
    background-color: #0C3F7A;
    display: flex;
  /* 3. Indica ahora flex-direction: row; */
    flex-direction:row;
  /* 4. Escribe a continuación justify-content: flex-start; Prueba*/
  /*justify-content: flex-start;*/
  /* 5. Prueba cambiando el valor para justify-content con space-between, center, flex-end  space-around*/
  /* 5a. Prueba cambiando el valor para justify-content con space-between establece un espacio entre los  elementos justify-content: space-between;*/
  /* 5b. con justify-content:center los elementos dentro del contenedor se centran
  /* 5c. con justify-content:flex-end; los elementos se repliegan al final del contenedor*/
  /* 5d. con justify-content:space-around; entre los elementos se establece un espacio*/    
  /*Nota: space between distribuye en relación al ancho del contenedor y space-around lo hace en relación a los elementos y su espacio circundante*/

}

.contenedor > div {
  background-color: #FFF;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
</style>