<style>
.contenedor {
  /* 2. Indica display: flex; a continuación*/
	display: flex;  
  /* 3. Declara align-items: stretch; ( de hecho es el valor por default)	align-items: stretch; */ 
  /* 4. Intenta ahora probando al cambiar el valor a flex-start, center, flex-end, stretch y baseline */
  /* 4.a align-items: flex-start; alinea los elementos hacia arriba del contenedor */	

  /* 4.b align-items: center; centra los elementos en el contenedor */	    
    
  /* 4.c  align-items: flex-end; los elementos se alinean hacia abajo*/	       
    
  /* 4.d  align-items: stretch; los elmentos se quedan de manera original*/

   
  /* 4.e align-items:  baseline; los elementos se posicionan en la linea base del contenedor*/

    
    
	/*El valor baseline no tendra efectos, cambia a diferentes tamaños las etiquetas de texto (h3, h6, h2 por ejemplo) para verlo en acción*/
  height: 400px;
  background-color: #0C3F7A;
}

.contenedor > div {
  background-color: #FFF;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
</style>