<style>
.contenedor {
  /*Las propiedades de los elementos pueden cambiarse auto (establece valores por defecto), flex-start(aliena los items en hacia arriba en el contenedor), flex-end (aliena los items en hacia abajo del contenedor), center (centra el elemento en el contenedor), baseline (el item toma el valor del padre) y stretch (aumenta el tamaño del item).*/
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  height: 400px;
  background-color: #0C3F7A;
}

.contenedor > div {
  background-color: #FFF;
  width: 100px;
  margin: 10px;
  text-align: center;
  
  line-height: 75px;
  font-size: 30px;
    }
    .contenedor > div:nth-child(2) {
        align-self: center; /*align-self permite sobre escribir los valores de align-items */  
    }
     .contenedor > div:nth-child(3) {
        align-self: flex-end; /*cambia este valor*/ 
    }
</style>