 <style>
    /*Clase para el contenedor global*/
    .container{
     width: 800px;
     margin: auto; /*forza a centrado horizontal en la ventana*/
    }
    /*Observa que usamos medidas dinámicas*/
     section{ 
         background: #F9F5C9;
         margin: 1% 0;
         padding: 1% 0;
     }
     
    /*Clase usamos para interrupir la flotación*/
     .clear{ clear: both;}
	 
	/*Clase para article*/
     .col2{ 
		background: pink;
		padding: 1%; 
		width: 50%;
		margin: 1% 0%;
		float: left;
		box-sizing: border-box;}

	/*Clase para article*/
     .col3{ 
		background: pink;
		width: 33.3%;
		margin: 1% 0%;
		float: left;
		padding: 1%;   
		box-sizing: border-box}	 

	/*Clase para article*/
     .col4{ 
		background: pink;
		width: 20%;
		margin: 1% 0%;
  		float: left;
		padding: 1%;
		box-sizing: border-box;}	
		
	/*Selector descendiente para etiqueta nav para centrarlo*/
	 nav ul{
		margin: auto;
		width: 450px;
		background: cyan;
		padding: 0;
	 }

	/*Selector descendiente*/
	nav ul li{
		text-align: center;
		width:33.33%;
		background: pink;
		list-style: none;
		padding: 10px 0;
		float: left;
	}	 
	
	/*Selector descendiente*/
	nav ul li a{
		text-decoration: none;
		color: darkblue;
	}	
	
	/*Uso de un pseudoclase :hover*/
	nav ul li:hover{
		background: #E44DFE;
	}	 
	 
</style>